.menu {
    text-align: center;
    margin: 72px 0;
}
.menu-item {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
.menu-link {
    text-decoration: none;
    color: #626262;
    text-transform: uppercase;
}
.menu-link:hover {
    color: #03a9f4;
    transition: color 0.4s;
}
.card {
    width: 420px;
    display: inline-block;
    margin: 0 30px;
}
.secondary-title {
    color: #b4ad9e;
    text-transform: uppercase;
    text-align: left;
    margin-top: 31px;
    font-family: 'Playfair Display', serif;
}
.main-title {
    color: #626262;
    text-align: left;
    margin-top: 32px;
    font-family: 'Playfair Display', serif;
}
.text {
    text-align: justify;
    margin-top: 36px;
    color: #626262;
    font-family: 'Playfair Display', serif;
}
.main {
    width: 80%;
    margin: 0 auto;
}
.image {
    width: 100%;
}
.button {
    width: 200px;
    margin: 0 auto;
}
.button-load {
    background-color: #FFFFFF;
    color: #626262;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #626262;
    font-family: 'Playfair Display', serif;
    margin: 56px 0;
}