/* header-start */

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid gainsboro; */
}

.page-header {
    padding-bottom: 75px;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.wpapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.menu-navigation {
    display: flex;
    list-style: none;
}

.menu-item {
    padding-left: 40px;
}

.menu-link,
.link-logo {
    text-decoration: none;
}

.menu-link {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 41px;
    color: rgb(34, 43, 43);
    text-transform: uppercase;
    font-weight: 600;
}

.menu-link:hover {
    color: rgb(255, 209, 54);
}

.logo {
    font-family: 'Wisdom';
    font-size: 26px;
    line-height: 41px;
    color: rgb(255, 209, 54);
    font-weight: lighter;
}


/* header-end */


/* title-start */

.wrapper-title {
    text-align: center;
    padding-bottom: 80px;
}

.section-title,
.footer-tite {
    font-family: 'Montserrat';
    font-size: 40px;
    line-height: 75px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
}

.footer-tite {
    line-height: auto;
}

.section-discription {
    font-size: 16px;
    font-family: 'DroidSerif';
    color: rgb(119, 119, 119);
    font-weight: 400;
    text-transform: none;
}

.services-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 105px;
}

.services-item {
    width: 290px;
    text-align: center;
}

.services-item-title,
.footer-tite {
    text-align: center;
}

.services-item-title {
    font-size: 18px;
    line-height: 75px;
    font-family: 'Montserrat';
    color: rgb(34, 34, 34);
    font-weight: 700;
}

.services-item-text {
    font-size: 14px;
    font-family: 'RobotoSlab';
    color: rgb(119, 119, 119);
}

.services-item-text,
.footer-sub-title {
    line-height: 24px;
}

.white {
    color: rgb(255, 255, 255);
}


/* title-end */


/* icon */

.services-item {
    position: relative;
}

.image {
    background-position: center;
    width: 74px;
    height: 73px;
    margin: 0 auto;
}

.icon-basket {
    background: url('../img/Icon-Basket.png') no-repeat;
}

.icon-laptop {
    background: url('../img/Icon-Laptop.png') no-repeat;
}

.icon-locked {
    background: url('../img/Icon-Locked.png') no-repeat;
}


/* icon-end */


/* footer */

.page-footer {
    background: url('../img/map.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-color: rgb(34, 34, 34);
    padding-top: 85px;
}


/* form */

.input-wrapped {
    width: 455px;
}

.input-text {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
    border: none;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 14px;
    font-family: 'Montserrat';
    line-height: 30px;
    color: rgb(95, 95, 95);
    font-weight: bold;
    padding: 10px 10px;
}

input::-webkit-input-placeholder {
    text-transform: uppercase;
    color: rgb(187, 187, 187);
}

textarea::-webkit-input-placeholder {
    text-transform: uppercase;
    color: rgb(187, 187, 187);
}

.form-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.textarea-fild {
    height: 210px;
    width: 100%;
    border: none;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
    padding: 8px 10px;
    line-height: 30px;
    font-size: 14px;
    font-family: 'Montserrat';
    color: rgb(95, 95, 95);
    font-weight: bold;
}

.wrapper-submit {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-submit {
    width: 240px;
    height: 65px;
    border: none;
    background-color: rgb(245, 192, 19);
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
}

.contact-registration {
    padding-bottom: 115px;
}


/* valid */

input:required:focus:invalid {
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

input:required:focus:valid {
    box-shadow: 0 0 10px rgb(0, 255, 106);
}

textarea:required:focus:invalid {
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

textarea:required:focus:valid {
    box-shadow: 0 0 10px rgb(0, 255, 106);
}

input:focus {
    box-shadow: 0 0 10px rgb(0, 255, 106);
}

.form-page input:focus {
    outline: none;
}

.form-page textarea:focus {
    outline: none;
}


/* fonts */

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-v12-latin_cyrillic-2/montserrat-v12-latin_cyrillic-500.woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-v12-latin_cyrillic-2/montserrat-v12-latin_cyrillic-600.woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-v12-latin_cyrillic-2/montserrat-v12-latin_cyrillic-700.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-v12-latin_cyrillic-2/montserrat-v12-latin_cyrillic-800.woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Wisdom';
    src: url('../fonts/wisdom/Wisdom Script AJ.otf') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'DroidSerif';
    src: url('../fonts/droid-serif/DroidSerif-Italic.ttf') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/roboto-slab-v7-latin/roboto-slab-v7-latin-regular.woff');
    font-style: normal;
    font-weight: 400;
}