* {
    margin: 0;
    padding: 0;
}

.page-header {
    width: 1020px;
    /* width: 1120px; */
    /* background-color: antiquewhite; */
    margin: auto;
    height: 75px;
}

.first-letter {
    color: rgb(26, 188, 156);
    font-family: 'Roboto', sans-serif;
}

.logo {
    float: left;
    margin-top: 40px;
    width: 100px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(85, 82, 82);
    font-size: 30px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
}

.menu {
    float: right;
    margin-top: 40px;
}

.menu li {
    float: left;
    list-style-type: none;
    padding-left: 20px;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(15, 1, 1);
    font-size: 14px;
    line-height: 11px;
    font-family: 'Open Sans', sans-serif;
}

.menu-link:hover {
    color: rgb(26, 188, 156);
}


/* ---------------------------------- */

.catalog-title {
    text-transform: uppercase;
    color: rgb(81, 81, 81);
    font-size: 48px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 75px;
}

.catalog-title::after {
    content: '';
    width: 160px;
    height: 7px;
    background: rgb(26, 188, 156);
    margin: 0 auto;
    display: block;
    margin-top: 30px;
}

.main {
    width: 1140px;
    margin: 0 auto;
    margin-top: 90px;
}

.catalog-item {
    width: 255px;
    height: 322px;
    float: left;
    background-color: #e9f0fd;
    margin-right: 30px;
    margin-bottom: 30px;
}

.image {
    width: 100%;
}