.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(180deg, rgba(243, 129, 129, 0.8) 0%, rgba(252, 227, 138, 0.8) 100%), url('../img/Layer15.jpg');
    height: 100vh;
    min-height: 650px;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .banner {
        background-image: linear-gradient(180deg, rgba(243, 129, 129, 0.8) 0%, rgba(252, 227, 138, 0.8) 100%), url('../img/Layer15@2x.jpg');
    }
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-button {
    color: $color-white;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    font-family: $main-font-stack;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid $color-white;
    padding: 12px 25px;
    &:hover {
        background-color: $color-white-background;
    }
}

.title__banner {
    font-size: 100px;
    color: $color-white;
    line-height: 0.93;
    font-family: $main-font-stack;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 80px;
}

.subtitle__banner {
    font-size: 45px;
    color: $color-white;
    line-height: 2;
    font-family: 'Kaushan Script', cursive;
    font-weight: 300;
    padding-bottom: 10px;
    text-transform: none;
}

.wrapper-banner {
    margin: 0 auto;
    width: 100%;
    max-width: 950px;
    position: relative;
    text-align: center;
}