.footer-contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.footer-contant::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: $color-dark-white;
}

.footer-contant__text {
    font-size: 14px;
    font-family: $main-font-stack;
    font-weight: 300;
}

.footer-contant__link {
    text-decoration: none;
    color: $color-red;
    font-size: 14px;
    font-family: $main-font-stack;
    font-weight: 300;
}

.button {
    padding: 12px 25px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    font-family: $main-font-stack;
    font-weight: bold;
    text-transform: uppercase;
}

.button--green {
    background-color: $color-green;
    color: $color-white;
    &:hover {
        background-color: $color-green-dark;
    }
}

.form__input {
    line-height: 24px;
    color: $color-dark-gray;
    font-style: italic;
    font-family: $description-font;
    border: 1px solid $color-dark-white;
    border-right-color: $color-green;
    padding-left: 20px;
}

input::-webkit-input-placeholder {
    color: $color-dark-white;
}

.form {
    display: flex;
    justify-content: space-between;
}