.team {
    margin-bottom: 80px;
}

.about-team {
    font-size: 15px;
    line-height: 24px;
    color: $color-light-gray;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.team__wrapper-background {
    margin-bottom: 30px;
}

.team__name {
    font-size: 14px;
    color: rgb(51, 51, 51);
    color: $color-dark-gray;
    font-family: $main-font-stack;
    font-weight: 400;
    text-transform: uppercase;
}

.team__occupation {
    font-size: 15px;
    line-height: 24px;
    color: $color-light-gray;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    padding-top: 5px;
}

.team__list {
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
}

.team__item {
    width: 380px;
    position: relative;
}

.team__wrapper-image {
    position: relative;
    &:hover {
        transform: translate(-10px, -10px);
    }
    &:hover.background-shadow {
        display: block;
    }
    &:hover.team__wrapper-image::after {
        background: linear-gradient( 90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        opacity: 0.9;
    }
    &:hover .team__overlay {
        display: flex;
    }
}

.team__image {
    display: block;
    width: 100%;
}

.animation {
    transition-property: translate();
    transition-duration: 200ms;
}


/* фон у анимации - статический */

.team__shadow {
    width: 100%;
    height: 100%;
    background-color: $color-green;
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
}


/* нужен для позиционирования background */

.team__wrapper-background {
    position: relative;
}

.team__date {
    text-align: center;
}

.team__overlay {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    z-index: 1;
    display: none;
}

.team__button {
    width: 55px;
    height: 55px;
    margin: 1px;
    background-color: $color-yellow;
    position: relative;
    fill: $color-red;
    &:hover {
        fill: $color-white;
        background-color: $color-red;
    }
}

.facebook {
    padding: 0 20px;
}

.twitter {
    padding: 0 10px;
}

.pinterest {
    padding: 0 13px;
}

.instagram {
    padding: 0 10px;
}